.container {
  display: grid;
}
canvas {
  width: 100vw;
  height: 100vh;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -9999;
}
body {
  margin: 0;
  padding: 2rem;
  overflow: hidden;
  cursor: url(https://static.wixstatic.com/media/6641d6_1d283d1d9756465aa47e4cb5b6539fca~mv2.png),
    auto;
  background-color: darkslategrey;
  font-family: Impact, Charcoal, sans-serif;
  color: floralwhite;
}
canvas { width: 100%; height: 100% }

.header-menu {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.title {
  font-weight: 800;
  font-size: 4em;
  text-transform: uppercase;
  letter-spacing: 0.4em;
}
.subtitle {
  text-shadow: darkolivegreen 3px 2px 1px;
  font-size: 0.8rem;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}
.icon {
  font-size: 4em;
  color: antiquewhite;
}
.menu--drop-down {
  display: none;
  grid-template-columns: repeat(3, auto);  
  background-color: rgba(16, 16, 16, 0.6);
  box-shadow: 0px 8px 16px 0px rgba(255, 255, 255, 0.2);
}
.menu-link-item{
  flex-grow: 1;
  letter-spacing: 0.15em;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
  margin-left: 0.4rem;
}